body {
  background-image: url('img.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;
}

div h1 {
  margin-top: 50px;
}

.gameBoard {
  border: solid 1px;
  width: fit-content;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  position: relative;
}

.grid {
  border: solid 1px;
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: calc(1rem + 5vw);
  font-family: monospace;
  cursor: pointer;
  overflow: hidden;
}

.popUpWrap {
  display: none;
}

.popUp, .popUps {
  border: solid 1px;
  border-radius: 20px;
  width: 52vw;
  height: 18vh;
  padding: 10px;
  position: absolute;
  top:60%; 
  left:50%; 
  transform:translate(-50%, -50%);
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr;
  row-gap: 5px;
}

.message, .restart, .close {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}
.message {
  border: none;
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  font-size: 1.5rem;
}
.restart {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  font-size: 1rem;
  cursor: pointer;
}
.close {
  grid-row: 2 / 3;
  grid-column: 5 / 7;
  font-size: 1rem;
  cursor: pointer;
}
.winLine {
  display: none;
}
.winLine1 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  width: 85%;
  height: 20%;
  top: 8%;
  left: 8%;
}
.winLine2 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 85%;
  height: 20%;
  top: 40%;
  left: 8%;
}
.winLine3 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 85%;
  height: 20%;
  bottom: 8%;
  left: 8%;
}
.winLine4 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 20%;
  height: 85%;
  top: 8%;
  left: 8%;
}
.winLine5 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 20%;
  height: 85%;
  top: 8%;
  left: 40%;
}
.winLine6 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 20%;
  height: 85%;
  top: 8%;
  right: 8%;
}
.winLine7 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 20%;
  height: 120%;
  top: 15%;
  left: 2%;
  transform-origin: left top;
  transform: rotate(-45deg);
}
.winLine8 {
  background-color: rgba(238, 79, 16, 0.8);
  border-radius: 20px;
  position: absolute;
  display: block;
  width: 20%;
  height: 120%;
  top: -20%;
  left: -5%;
  transform-origin: right bottom;
  transform: rotate(45deg);
}